@import './normalize.css';
html{
  font-size: 7vw;
}
a{
  text-decoration:none;
  color:black;
}
ul,li,p{
  list-style: none;
  padding:0;
  margin:0;
}
input[type='checkbox']{
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-appearance:none;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  outline: none;
}
